name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Verify files
        run: ls -la

      - name: Copy file to EC2
        env:
          USER: ${{ secrets.AWS_USERNAME }}
          HOST: ${{ secrets.AWS_EC2_HOST }}
        run: |
          scp -o StrictHostKeyChecking=no index.php $USER@$HOST:/tmp/index.php
